Repository itc-wgtools/cPP-Tools, pull requests merged in 2019-06, with the labels that each got.

#14 Update cPP-template.adoc
  Templates/cPP-template.adoc
Labels: Template

#13 Updated pp configuration template fiona1
  Templates/PP-config-template.adoc
Labels: Template

#18 Create CC Portal page.adoc
  Templates/CC Portal page.adoc
Labels: iTC Templates

#20 Create iTC_status_table.adoc
  Templates/iTC_status_table.adoc
Labels: iTC Templates

#29 Filename change, initial revision
  Admin Guidance/admin-guide.adoc
  Admin Guidance/adminguid.adoc
Labels: Admin Guide
